<div class="container">

  <h1>Home</h1>
  <p>This is our home page. We hope you <span class="emphasized">really</span> enjoy it.</p>

  <span class="emphasized">Hello again</span>

  <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="logo"></div>

</div>
