// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$blue: rgb(31, 181, 200);

h1 {
  color: $blue;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .emphasized {
    color: red;
    font-style: italic;
  }
}
